h1{
    text-align: center;
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 400
}
p{
    text-align: right;
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200
}